{% extends 'base.html.twig' %}

{% block title %}Ajouter un Hôtel{% endblock %}

{% block body %}
    <h1>Ajouter un Hôtel</h1>

    {{ include('hotel/_form.html.twig') }}

    <a class="btn btn-secondary mt-2" href="{{ path('hotel.index') }}">Retourner à la liste</a>
{% endblock %}
