<form method="post" action="{{ path('reservation.delete', {'id': reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûre que vous voulez supprimer cette réservation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn btn-danger py-2 d-inline-flex align-items-center justify-content-center">{{ ux_icon('bi:trash-fill') }}</button>
</form>
