{% extends 'base.html.twig' %}

{% block title %}Ajouter une Chambre{% endblock %}

{% block body %}
    <h1>Ajouter une Chambre</h1>

    {{ include('chambre/_form.html.twig') }}

    <a class="btn btn-secondary mt-2" href="{{ path('chambre.index') }}">Retourner à la liste</a>
{% endblock %}
