<form method="post" action="{{ path('admin.hotel.delete', {'id': hotel.id}) }}" onsubmit="return confirm('Êtes-vous sûre que vous voulez supprimer cet hôtel ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hotel.id) }}">
    <button class="btn btn-danger py-2 d-inline-flex align-items-center justify-content-center">{{ ux_icon('bi:trash-fill') }}</button>
</form>
