{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ component('client_reservation_form', {button_save: 'Modifier', initialFormData: reservation}) }}

    <a class="btn btn-secondary mt-2" href="{{ path('client.reservation.index') }}">Retourner à la liste</a>
{% endblock %}
