{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ include('client/reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-secondary mt-2" href="{{ path('client.reservation.index') }}">Retourner à la liste</a>
{% endblock %}
